/* AdminLayout.css */
.admin-layout {
  min-height: 100vh;
  background: #f8f9fa;;
}

.admin-content {
  margin-left: 260px; /* Width of expanded sidebar */
  margin-top: 64px; /* Height of header */
  min-height: calc(100vh - 64px);
  transition: all 0.3s ease;
  position: relative;
  
}

.admin-content-wrapper {
  padding: 24px;
  max-width: 1800px;
  margin: 0 auto;
  background-color: #f8f9fa;
  min-height: 100vh;
  margin-left: 60px;
}

.dashboard-title {
  text-align: left;
  margin-left: 40px; /* Adjust for spacing if needed */
}

.sidebar-collapsed .admin-content {
  margin-left: 45px;
}

@media (max-width: 768px) {
  .admin-content {
      margin-left: 45px;
  }
  
  .sidebar-collapsed .admin-content {
      margin-left: 45px;
  }
  
}