.wellness-container {
    /* background-image: linear-gradient( #11326a, #4a99daec ); */

    border: 1px solid #dee2e6;
    border-radius: 8px;
    height: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wellness-title {
    font-size: 1.5rem;
    text-align: center;
    flex-shrink: 0;
    color: #000000; 
    padding-top:2rem;
}

.wellness-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.wellness-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    width: 100%;
    gap: 1rem;
    padding: 2rem;

}

.wellness-item-container { 
    width: 90%;
    min-height: 120px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#11326a, #175388);
    border-radius: 8px;
    transition: all 0.2s;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    
}

.wellness-date {
    background-color: #ffffff;
    color: #213555;
    padding: 0.5rem;
    border-radius: 6px;
    min-width: 80px;
    text-align: center;
    font-weight: bold;
    margin-right: 1rem;
}

.wellness-details {
    flex: 1;
    font-size: 1.2rem;
}

.sport-title {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0 0 0.5rem 0;
    font-weight: bolder;
}

.time-info,
.location-info,
.participant-info {
    margin: 0.1rem 0;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
}

.wellness-item-container:hover { 
    background-color: #448ece;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.wellness-item-container:hover .time-info,
.wellness-item-container:hover .location-info,
.wellness-item-container:hover .participant-info {
    color: #ffffff;     
}

.wellness-item-container:hover .sport-title {
    color: #ffffff; 
}


.wellness-items::-webkit-scrollbar {
    width: 8px;
}

.wellness-items::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.wellness-items::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.wellness-items::-webkit-scrollbar-thumb:hover {
    background: #555;
}