.time-display {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    text-align: right;
}

.time-zone {
    font-weight: bold;
    font-size: small;
    color: #666;
    margin-bottom: 0.5rem;
}

.current-time {
    font-size: small;
    color: #333;
}
@media (max-width: 768px) {
.time-display{
    width:100;
    text-align:center;
}
}